{% extends 'base.html.twig' %}
{% block title %} Blog home {% endblock %}
{% block body %}
    <div class="container my-md-4">
    <div class="d-flex justify-content-between">
    <h1>Liste des posts front</h1>
        {{ include("post/_search_form.html.twig") }}
    </div>
    </div>
    <div class="container" style="margin-top: 2rem">
    {% if posts|length > 0 %}
    {% for post in posts %}
        {{ include("post/_post.html.twig") }}
    {% endfor %}
    {% else %}
        <div class="my-md-4">
            <div class="alert alert-info">
                No post found
            </div>
        </div>
    {% endif %}
    </div>

{% endblock %}