{% extends 'base.html.twig' %}
{% block title %} Blog home {% endblock %}
{% block header %} {{  include ('component/header.html.twig') }} {% endblock %}
{% block body %}

    <h1>Liste des posts front</h1>
    {# include la liste front #}

{% endblock %}