{% extends 'base.html.twig' %}

{% block title %}Create{% endblock %}

{% block body %}
    <h1>Create</h1>
    {{ include('post/_form.html.twig',{
        form:form,
        tags:tags,
        'button_label':'create'|trans,
    }, with_context =  false) }}
{% endblock %}
