{% extends 'base.html.twig' %}

{% block title %}liste des posts{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Liste des posts:</h1>

    {# DEBUT BARRE DE RECHERCHE #}
    {# FIN BARRE DE RECHERCHE #}

    {# DEBUT LISTE POSTS #}
    {% for post in posts %}
        <div class="card">
            <div class="card__content">
                <a href="#" class="card__hypertext">{{ post.title }}</a>
                <p class="card__text">{{ post.summary }}</p>
                <p class="card__date">{{ post.getPublicatedAt()|date('Y-m-d H:i:s')}}</p>
            </div>
            <img src="{{ asset('uploads/images/' ~ post.image) }}" alt="post_image" style="width: 100px; height: 100px">
        </div>
    {% endfor %}
    {# FIN LISTE POSTS #}

</div>
{% endblock %}
